/* Tóm tắt hover là di chuột vào 1 phần tử HTML */
p.p1:hover {
  /* Áp dụng hover với thẻ p có class là p1 */
  font-size: 25px;
  color: deeppink;
}

h1:hover {
  /*Áp dụng hover với tất cả các thẻ h1*/
  font-size: 30px;
  color: red;
}

p#pcr7:hover {
  /* Áp dụng hover cho thẻ p có id là pcr7 */
  font-size: 5px;
  color: chartreuse;
}

p.pcr9:hover {
  /* Áp dụng CSS cho thẻ p có class là pcr9 */
  font-size: 35px;
  color: aqua;
}

/* Demo CSS Active. Tóm tắt active là sự kiện khi ta nhấn giữ vào 1 phần tử HTML */
p.pcr11:active {
  /* Áp dụng css active cho thẻ p có class tên là pcr11 */
  font-size: 55px;
  color: chartreuse;
}

p#pcr17:active {
  /* Áp dụng css active cho thẻ p có id là pcr17 */
  font-size: 15px;
  color: rgb(5, 96, 129);
}

/* Demo link khi chưa truy cập cho thẻ a */
a.click_me:link {
  color: rgb(54, 210, 30);
  font-size: 25px;
}

/* Trái ngược với link là visited có nghĩa là khi người dùng đã click vào thì sự kiện visited sẽ được kích hoạt */
a.click_me:visited {
  color: rgb(213, 17, 43);
  font-size: 25px;
}

/* Demo empty. Áp dụng cho selector mà bên trong nó rỗng, div bên trong rỗng thì nó mới nhận được CSS này, thêm nội dung
vào phát là không nhận CSS nữa */
div.elm:empty {
  width: 200px;
  height: 200px;
  background-color: deeppink;
}

/* Demo target*/
h2:target {
  /* Tức là những thẻ a nào có phần href bằng với hash# của các phần tử HTML thì nó sẽ điều hướng đến đó và áp dụng CSS
  cho các target đó. 
  Chẳng hạn như bên kia có thẻ h2 có id là mobai
  Thẻ a có href là mobai
  Thì trường hợp này khi ta bấm vào thẻ a thì nó sẽ điều hướng đến với thẻ h2 có id là mobai và selector đến thẻ h2 đó*/
  color: red;
}
