body {
  background-color: pink;
}

.container h1 {
  font-size: 40px;
}

.container p {
  font-size: 24px;
  line-height: 1.4;
}

.container {
  margin: 0px auto;
  width: 700px;
  background-color: aqua;
  text-align: center;
}

.container img {
  max-width: 600px;
}
